/* ==========================================================================
   GLOBAL STYLES
   ========================================================================== */
@import url("https://fonts.googleapis.com/css?family=Nunito:400,600,700,900");

html {
  position: relative;
  min-height: 100%;
}

body {
  padding-bottom: 60px;
  overflow-x: hidden;
}

/* ==========================================================================
   METISMENU STYLES
   ========================================================================== */
.metismenu {
  padding: 0;
}

.metismenu li {
  list-style: none;
}

.metismenu ul {
  padding: 0;
}

.metismenu ul li {
  width: 100%;
}

/* ==========================================================================
   NAVIGATION STYLES
   ========================================================================== */
.nav-second-level li a,
.nav-thrid-level li a {
  padding: 8px 20px;
  color: #6e768e;
  display: block;
  position: relative;
  transition: all 0.4s;
  font-size: 0.875rem;
}

.nav-second-level li a:focus,
.nav-thrid-level li a:focus {
  color: #007bff;
  outline: none;
}